<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Genres</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark" class="ion-padding" *ngIf="genres">
    <ion-list>
      <ion-button expand="block" color="danger" href = "movies-fr" value="Homepage">Films populaires</ion-button><br>
      <ion-button expand="block" color="danger" href = "action-movies-fr" value="Action">{{genres[0]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "adventure-movies-fr" value="Adventure">{{genres[1]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "animation-movies-fr" value="Animation">{{genres[2]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "comedy-movies-fr" value="Comedy">{{genres[3]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "crime-movies-fr" value="Crime">{{genres[4]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "documentary-movies-fr" value="Drama">{{genres[5]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "drama-movies-fr" value="Drama">{{genres[6]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "family-movies-fr" value="Family">{{genres[7]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "fantasy-movies-fr" value="Fantasy">{{genres[8]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "history-movies-fr" value="History">{{genres[9]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "horror-movies-fr" value="Horror">{{genres[10]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "music-movies-fr" value="Music">{{genres[11]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "mystery-movies-fr" value="Mystery">{{genres[12]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "Romance-movies-fr" value="romance">{{genres[13]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "SF-movies-fr" value="SF">{{genres[14]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "TV-movies-fr" value="TVMovie">{{genres[15]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "thriller-movies-fr" value="Thriller">{{genres[16]['name']}}</ion-button><br>
      <ion-button expand="block" color="danger" href = "western-movies-fr" value="Western">{{genres[18]['name']}}</ion-button><br>
    </ion-list>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header line="none">
    <ion-toolbar color="danger">
      <ion-item color="danger"> 
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons> 
        <ion-title class="home" slot="start">Films de guerre</ion-title>
          <ion-accordion-group slot="end">
            <ion-accordion value="first">
              <ion-item slot="header" color="danger">
                <img src="https://flagcdn.com/fr.svg" width="25" alt="French">
              </ion-item>
                <ion-item slot="content" color="danger" href = "/war-movies" value="English">
                  <img src="https://flagcdn.com/gb-eng.svg" width="25" alt="England">
                </ion-item> 
                <ion-item slot="content" color="danger" href = "/war-movies-de" value="German">
                  <img src="https://flagcdn.com/de.svg" width="25" alt="Germany">
                </ion-item>       
                <ion-item slot="content" color="danger" href = "/war-movies-es" value="Spanish">
                  <img src="https://flagcdn.com/es.svg" width="25" alt="Spain">
                </ion-item>
            </ion-accordion>
          </ion-accordion-group>
      </ion-item>
      <ion-searchbar line="none" placeholder="Search" color="danger" [(ngModel)]="searchTerm" show-clear-button="always" clear-icon="trash-bin" ></ion-searchbar>
    </ion-toolbar>
  </ion-header>


  <ion-content color="dark">
    <ion-list color="dark">
      <ion-item color="dark" button *ngFor="let movie of movies | filter:searchTerm" [routerLink] = "[movie.id]">
        <ion-avatar slot="start">
          <img [src]="imageBaseUrl +'/w92'+ movie.poster_path ">
        </ion-avatar>
        <ion-label>{{movie.title}}
          <p>
            {{movie.release_date |date:'y'}}
          </p>
        </ion-label>
        <ion-badge color="tertiary" slot="end">{{movie.vote_average}}</ion-badge>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite) = "loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-content>
</div>